.popup__button_disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
}

.popup__button_disabled:hover {
  background-color: transparent;
}

.popup__button_disabled:active {
  background-color: transparent;
}
