.elements__item-bottom {
  display: flex;
  width: 246px;
  max-height: 23px;
  margin: 25px 15px 0px 21px;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .elements__item-bottom {
    margin-top: 21px;
  }
}
