.profile__photo {
  max-width: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 690px) {
  .profile__photo {
    max-width: 200px;
    transition: max-width .35s;
  }
}

@media screen and (max-width: 370px) {
  .profile__photo {
    max-width: 120px;
    transition: max-width .35s;
  }
}
